*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}

.display-none {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #3bc0c3;
  cursor: pointer;
}
.badge{
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: #4489E4;
  color: white;
  font-size: 0.9rem;
}
.badge > span {
  font-size: 0.7rem;
}
.container{
  display: flex;
  overflow: hidden;
  height: 100vh;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 240px;
  flex-shrink: 0;
  background-color: #1A2942;
  color: #70809a;
}
.sidebar .logo{
  align-items: center;
  padding: 1rem;
  height: 80px;
}
.sidebar .sidebar-menu{
  padding: 1rem;
  overflow: auto;
}
.sidebar ul{
  list-style: none;
}
.sidebar .sidebar-list .sidebar-list-item{
  margin: 1rem 0;
}
.sidebar .sidebar-list .sidebar-list-item a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #70809a;
}
.sidebar .sidebar-list .sidebar-list-item a:hover,
.sidebar .sidebar-list .sidebar-list-item a:active,
.sidebar .sidebar-list .sidebar-list-item a:focus {
  color: #3bc0c3;
}
.sidebar .sidebar-list .sidebar-list-item a .sidebar-list-list-item-text {
  flex-grow: 1;
 } 
 .sidebar-list-sublist{
  margin-top: 1rem;
  margin-left: 1.5rem;
 }
 .main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #EAF1F3;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(111, 111, 111, 0.188);
}
.main-header .col {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input{
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: #F3F3F8;
}
.search-input input{
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}
.main-top-bar {
  height: 80px;
}

.select-button button{
  align-items: center;
  gap: 0.3rem;
}
.select-button .select-button-img {
  width: 20px;
}
.profile .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
}
.profile .avatar img{
  width: 100%;
}

.list-icon {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.main-content{
  padding: 1rem;
}
.main-top-bar{
  display: flex;
  align-items: center;
}
.main-top-bar-list{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  list-style: none;
}
.main-top-bar-list a{
  text-decoration: none;
}
.main-container .row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.card-1{
display: flex;
justify-content: space-between;
width: 25%;
height: 137px;
border: 1px solid transparent;
border-radius: 1%;background-color:#F24F7C ;
}
.card-text{
  display: flex;
  flex-direction: column;
  width: 80%;
  color:#FFFFFF;
  padding: 1.5rem;
}
.card-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #F57B9D;
  color: #FFFFFF;
  font-size: xx-large;
  padding-bottom: 1.5rem;
}
.card-2{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 137px;
  border: 1px solid transparent;
  background-color:#716CB0 ;
}
.card-2 .card-icon{
  background-color: #9591C4;
}
.card-3{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 137px;
  border: 1px solid transparent;
  background-color:#33B0E0 ;
}
.card-3 .card-icon{
  background-color:#66C4E8 ;
}
.card-4{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 137px;
  border: 1px solid transparent;
  background-color: #3BC0C3; 
}
.card-4 .card-icon{
  background-color: #6CD0D2;
}
.content{
  display: flex;
}
.content-header{
  display: flex;
  justify-content: space-between;

}
.content-header .box-1{
  width: 60%;
  height: 300px;
  background-color: yellow;
}
.content-header .box-2{
  display: flex;
  gap: 1rem;
  width: 40%;
  height: 300px;
  background-color: red;
}
.content-footer{
  display: flex;
  justify-content: space-between;
}
.content-footer .box-3{
  width: 40%;
  height: 300px;
  background-color: green;
}
.content-footer .box-4{
  width: 60%;
  height: 300px;
  background-color: blue;
}