*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}

.display-none {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #3bc0c3;
  cursor: pointer;
}
.badge{
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: #4489E4;
  color: white;
  font-size: 0.9rem;
}
.badge > span {
  font-size: 0.7rem;
}
.container{
  display: flex;
  overflow: hidden;
  height: 100vh;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 240px;
  flex-shrink: 0;
  background-color: #1A2942;
  color: #70809a;
}
.sidebar .logo{
  align-items: center;
  padding: 1rem;
  height: 80px;
}
.sidebar .sidebar-menu{
  padding: 1rem;
  overflow: auto;
}
.sidebar ul{
  list-style: none;
}
.sidebar .sidebar-list .sidebar-list-item{
  margin: 1rem 0;
}
.sidebar .sidebar-list .sidebar-list-item a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #70809a;
}
.sidebar .sidebar-list .sidebar-list-item a:hover,
.sidebar .sidebar-list .sidebar-list-item a:active,
.sidebar .sidebar-list .sidebar-list-item a:focus {
  color: #3bc0c3;
}
.sidebar .sidebar-list .sidebar-list-item a .sidebar-list-list-item-text {
  flex-grow: 1;
 } 
 .sidebar-list-sublist{
  margin-top: 1rem;
  margin-left: 1.5rem;
 }
 .main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #EAF1F3;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(111, 111, 111, 0.188);
}
.main-header .col {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input{
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: #F3F3F8;
}
.search-input input{
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}
.main-top-bar {
  height: 80px;
}

.select-button button{
  align-items: center;
  gap: 0.3rem;
}
.select-button .select-button-img {
  width: 20px;
}
.profile .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
}
.profile .avatar img{
  width: 100%;
}
.list-icon {
  position: relative;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.circle-1{
  position: absolute;
  top: -10px;
  left: 4px;
  border: 1px solid;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  color: white;
  background-color: blue;
}
.circle-2{
  position: absolute;
  top: -10px;
  right: 50px;
  border: 1px solid;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  color: white;
  background-color: red;
}
.main-content{
  padding: 1rem;
}
.main-top-bar{
  display: flex;
  align-items: center;
}
.main-top-bar-list{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  list-style: none;
}
.main-top-bar-list a{
  text-decoration: none;
}
.main-container .row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.card-1{
display: flex;
justify-content: space-between;
width: 25%;
height: 137px;
border: 1px solid transparent;
border-radius: 1%;background-color:#F24F7C ;
}
.card-text{
  display: flex;
  flex-direction: column;
  width: 80%;
  color:#FFFFFF;
  padding: 1.5rem;
}
.card-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #F57B9D;
  color: #FFFFFF;
  font-size: xx-large;
  padding-bottom: 1.5rem;
}
.card-2{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 137px;
  border: 1px solid transparent;
  background-color:#716CB0 ;
}
.card-2 .card-icon{
  background-color: #9591C4;
}
.card-3{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 137px;
  border: 1px solid transparent;
  background-color:#33B0E0 ;
}
.card-3 .card-icon{
  background-color:#66C4E8 ;
}
.card-4{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 137px;
  border: 1px solid transparent;
  background-color: #3BC0C3; 
}
.card-4 .card-icon{
  background-color: #6CD0D2;
}
.content{
  display: flex;
}
.content-header{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}
.content-header .box-1{
  width: 60%;
  margin-right: 1rem;
  background-color: yellow;
}
.content-header .box-2{
  width: 40%;
  background-color: red;
}
.content-footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.content-footer .box-3{
  width: 40%;
  height: 680px;
  padding: 1rem;
  background-color:#FFFFFF ;
}
.box-3-row{
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 1rem;
}
.box-3-row .box-3-row-col-2 a{
  color: black;
}
.chat{
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow: auto;
}
.chat-1,
.chat-3,
.chat-5{
  display: flex;
}
.chat .chat-1 .chat-img{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.chat .chat-1 .chat-img img,
.chat .chat-3 .chat-img img,
.chat .chat-5 .chat-img img{
  border: 1px solid transparent;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  background-color: #dddde0 ;
 }

 .chat .chat-1 .chat-text,
 .chat .chat-3 .chat-text,
 .chat .chat-5 .chat-text{
  border: 1px solid transparent;
  border-radius: 1%;
  background-color: #dddde0;
  padding: 1rem;
  margin-left: 1rem;
 }
 .chat .chat-text h5,
 .chat .chat-text h6{
  margin-bottom: 0.5rem;
 }
 .chat .chat-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
 }
 .chat .chat-2 .chat-text,
 .chat .chat-4 .chat-text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 1%;
  background-color: #D8F2F3;
  padding: 1rem;
  width: 200px;
  color:#3BC0C3 ;

 }
 .chat .chat-2 .chat-img img,
 .chat .chat-4 .chat-img img{
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-left: 1rem;
 }
 .chat .chat-2 .chat-img p,
 .chat .chat-4 .chat-img p{
  margin-left: 1rem;
 }

.content-footer .box-4{
  width: 60%;
  margin-left: 1rem;
}
.chat-3,
.chat-5{
  margin: 2rem 0 2rem 2rem;
}
.chat-4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-action .chat-action-text{
  border: 1px solid #c7c7c8;
  border-radius: 5%;
  margin: 1rem; 
  margin-left: 0.5rem;
  padding: 0.5rem 8rem 0.5rem 0.5rem;
}
.chat-action .chat-action-button{
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 8px 12px;
  background-color: #BB3939;
  margin-right: 6rem;
}
.chat-action .chat-action-button button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: small;
}
.content-footer .box-4{
  width: 60%;
  height: 700px;
  background-color:#FFFFFF ;
  padding: 1rem;
}
.box-4-row{
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.box-4-row .box-4-row-col-2 a{
  color: black;
}
.box-4-row .box-4-row-col-1 h5{
  font-size: 1rem;
}
.table .table-list{
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid;
  border-color: rgb(218, 213, 213);
  padding-bottom: 0.5rem;
}
.table .table-list .table-list-item{
  display: flex;
}
.table .table-list .table-list-item h4{
margin: 1.5rem; 
}
.table .table-list .table-list-item p{
  margin: 1.5rem;
  font-size: small;
}
.table .table-list .table-list-item-color{
  background-color:#D6EFF9 ;
  color: #33B0E5;
  border: 1px solid transparent;
  border-radius: 15%;
}
.table .table-list .table-list-item-color-2,
.table .table-list .table-list-item-color-6 {
  border: 1px solid transparent;
  border-radius: 15%;
  color: #33B0E5; 
  background-color: #D6EFF9;
}
.table .table-list .table-list-item-color-3,
.table .table-list .table-list-item-color-7{
  border: 1px solid transparent;
  border-radius: 15%;
  background-color:#FCDCE5 ;
  color:#F34F7C ;
  margin: 0;
  padding: 0;
}
.table .table-list .table-list-item-color-4{
  border: 1px solid transparent;
  border-radius: 15%;
  background-color: #E3E2EF;
  color:#926CB0 ;
  margin: 0;
  padding: 0;
}
.table .table-list .table-list-item-color-5{
  border: 1px solid transparent;
  border-radius: 15%;
  padding: 1px;
  background-color:#FBF4DD ;
  color:#EFC755 ;
}
.Footer{
  display: flex;
  justify-content: center;
  border-top: 1px solid;
  border-color: rgb(218, 213, 213);
  padding-top: 1rem;
}
.Footer-list {
  font-size: small;
}
.Footer-list-2{
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
}






