*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}

.display-none {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #3bc0c3;
  cursor: pointer;
}
.badge{
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: #4489E4;
  color: white;
  font-size: 0.9rem;
}
.badge > span {
  font-size: 0.7rem;
}
.container{
  display: flex;
  overflow: hidden;
  height: 100vh;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 240px;
  flex-shrink: 0;
  background-color: #1A2942;
  color: #70809a;
}
.sidebar .logo{
  align-items: center;
  padding: 1rem;
  height: 80px;
}
.sidebar .sidebar-menu{
  padding: 1rem;
  overflow: auto;
}
.sidebar ul{
  list-style: none;
}
.sidebar .sidebar-list .sidebar-list-item{
  margin: 1rem 0;
}
.sidebar .sidebar-list .sidebar-list-item a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #70809a;
}
.sidebar .sidebar-list .sidebar-list-item a:hover,
.sidebar .sidebar-list .sidebar-list-item a:active,
.sidebar .sidebar-list .sidebar-list-item a:focus {
  color: #3bc0c3;
}
.sidebar .sidebar-list .sidebar-list-item a .sidebar-list-list-item-text {
  flex-grow: 1;
 } 
 .sidebar-list-sublist{
  margin-top: 1rem;
  margin-left: 1.5rem;
 }
 .main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #EAF1F3;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(111, 111, 111, 0.188);
}
.main-header .col {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input{
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: #F3F3F8;
}
.search-input input{
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}
.main-top-bar {
  height: 80px;
}

.select-button button{
  align-items: center;
  gap: 0.3rem;
}
.select-button .select-button-img {
  width: 20px;
}
.profile .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
}
.profile .avatar img{
  width: 100%;
}

.list-icon {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.main-content{
  padding: 1rem;
}
.main-top-bar{
  display: flex;
  align-items: center;
}
.main-top-bar-list{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  list-style: none;
}
.main-top-bar-list a{
  text-decoration: none;
}
.box{
  display: flex;
}
.box-1{
  width: 323.2px;
  height: 137.86px;
  margin: 1rem;
  background-color: RGBA(242,79,124,var(--tz-bg-opacity, 1))!important;
}
.box-1-A{
  display: flex;
  flex-direction: column;
 color: #fff!important;
 width: 323.2px;
 height: 137.86px;
 padding:24px;
 border: 1px transparent;
}
.box-1-B{
  font-size: xx-large;
  background-color:#F57B9D;
}
.box-1-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff!important;
  margin:5px;
}
.box-2{
  display: flex;
  flex-direction: column;
  background-color:#716CB0;
  color: #fff!important;
  width: 323.2px;
  height: 137.86px;
  padding:24px;
  border: 1px transparent;
  margin: 1rem;
}
.box-2-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff!important;
  margin: 5px;
}
.box-2-B{
  font-size: xx-large;
}
.box-3{
  display: flex;
  flex-direction: column;
  width: 323.2px;
  height: 137.86px;
  padding:24px;
  border: 1px transparent;
  color: #fff!important;
  background-color: #33B0E0;
  margin: 1rem;
}
.box-3-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff!important;
  margin: 5px;
}
.box-3-B{
  font-size: xx-large;
}
